<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gugs DB</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bulma_min.css') }}" >
        <img src="{{ url_for('static', filename='img/rcs_gugs_logo_small.jpg') }}"
            style="display: block; position: absolute; left: 5px;">
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                         
                        <a href="{{ url_for('main.index') }}" class="navbar-item" 
                            style="background-color: #f45c09; color: #000000;
                            font-weight: 900;">
                                Home
                            </a> 
                            <a href="{{ url_for('main.predict_race_time') }}" class="navbar-item" 
                                style="background-color: #f45c09; color: #000000;
                                font-weight: 900;">
                                Predict Race Time
                            </a> 
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item"
                                style="background-color: #f45c09; color: #000000;
                                font-weight: 900;">
                                Profile
                            </a> 
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item" 
                                style="background-color: #f45c09; color: #000000;
                                font-weight: 900;">
                                Login
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item"
                                style="background-color: #f45c09; color: #000000;
                                font-weight: 900;">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>